<div class="container">
  <form>
    <div class="form">

      <div class="row">
        <label>Name: </label>
        <input type="text" class="form-control" id="name"/>
      </div>

      <div class="row">
        <label>Email:</label>
        <input type="text" class="form-control" id="email"/>
      </div>

      <div class="row">
        <label>Password:</label>
        <input type="text" class="form-control" id="password"/>
      </div>

      <div class="row">
        <label>Repeat password:</label>
        <input type="text" class="form-control" id="repeat"/>
      </div>

      <div class="row">
        <button class="btn btn-primary">Registration</button>
        <button class="btn btn-primary" type="button" (click)="toLogin()">Back</button>
      </div>


    </div>
  </form>
</div>
