<div class="container">
  <form #values="ngForm" (ngSubmit)="values">
    <div class="form">

      <div class="row">
        <label>Email:</label>
        <input [(ngModel)]="authentication.username" type="text" class="form-control" name="email"/>
      </div>

      <div class="row">
        <label>Password:</label>
        <input [(ngModel)]="authentication.password" type="text" class="form-control" name="password"/>
      </div>

      <div class="row">
        <button (click)="onAuth()" class="btn btn-primary" >Войти</button>
      </div>

    </div>
  </form>
</div>
